</div> 
<div class="notification-area">
  <div class="vue-notification-group" style="width: 30%; top: 0px; right: 0px; float: right;">
    <span class="notifi"></span>
  </div> 
</div>
<div class="hero-foot">
  <div class="footer">
    <div class="footer-group is-0-7">
      <span class="footer-item">&copy; 2020 AntiAlt</span> 
      <a href="/" class="footer-item">Home</a> 
      <a href="https://docs.antialt.xyz/" target="_blank" class="footer-item">Docs</a> 
      <a href="https://docs.antialt.xyz/terms-of-service" target="_blank" class="footer-item">Terms of Service</a> 
    </div>
  </div>
</div> 
</div>
</div>
</div>
</body>
</html>